# Seed 821481158
# Time of snapshot (ticks) 0

component app1 APPLICATION_LAYER_TYPE 450 100
param app1 32 0	# app1
param 155.52 12 0	# Bit Rate (Mbit/s): 155.52
param 0 32 0	# Start time (usec): 0
param 2 32 0	# Destination node: 2
param 100 12 0	# Number of MBits to be sent: 100
pflags 2a 4	 #Number of Pkts Received: 0
param 2000000 12 0	# Stop time (usecs): 2000000

component dlc1 DLC_LAYER_TYPE 450 270
param dlc1 32 0	# dlc1

component phy1 PHYSICAL_LAYER_TYPE 450 300
param phy1 32 0	# phy1

component link1 LINK_TYPE 450 400
param link1 32 0	# link1
param 5 12 0	# Delay (usecs): 5
param 0.3 12 0	# Error Probability: 0.3

component phy2 PHYSICAL_LAYER_TYPE 450 500
param phy2 32 0	# phy2

component dlc2 DLC_LAYER_TYPE 450 600
param dlc2 32 0	# dlc2

component app2 APPLICATION_LAYER_TYPE 450 700
param app2 32 0	# app2
param 155.52 12 0	# Bit Rate (Mbit/s): 155.52
param 0 32 0	# Start time (usec): 0
param 1 32 0	# Destination node: 3
param 100 12 0	# Number of MBits to be sent: 100
pflags 2a 4	 #Number of Pkts Received: 0
param 2000000 12 0	# Stop time (usecs): 0

neighbor1 app1 dlc1
neighbor1 app2 dlc2
neighbor1 dlc1 phy1
neighbor1 dlc1 app1
neighbor1 dlc2 phy2
neighbor1 dlc2 app2
neighbor1 phy1 dlc1
neighbor1 phy1 link1
neighbor1 phy2 dlc2
neighbor1 phy2 link1
neighbor1 link1 phy1
neighbor1 link1 phy2

route1 phy1 link1 phy2
route1 phy2 link1 phy1

#          node  x    y
node-graph  1   540   90
node-graph  2   540  560

#          st1 st2   x   y
space-time  1   2   550 320
